<div class="cont">


<nav>
  <ul>

    
      <li>
          <div class="about-icon">
            <img src="https://img.icons8.com/color/48/000000/add-file.png">
          </div>
        </li>



    <li>
      <div class="home-icon">
          <img src="https://img.icons8.com/color/48/000000/documents.png">
      </div>
    </li>

 

    <li>
      <div class="work-icon">
          <img src="https://img.icons8.com/color/48/000000/product-documents.png">
      </div>
    </li>
    <li>
      <div class="mail-icon">
        <div class="mail-base">
          <div class="mail-top"></div>
        </div>
      </div>
    </li>
  </ul>
</nav>

<section>
 <!-- <h1>3d rotating navigation</h1>
  <h2>+ CSS Icons</h2>-->
</section>




</div>
