.full-frame{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  border: 1px solid #dcd5d3;
  border-radius: 5px;
  width: 150px;
}

img{
  padding: 2px;
  height: 150px;
  width: 150px;

}

.text-section {
  border-top: 1px solid #dcd5d3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.text-section-row {
  min-height: 25px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  font-size: 10px;
}
.text-section-row span {
  padding: 5px;
}

.row0 {
  background-color: black;
  color: white;
}

.row1{
 background-color: aliceblue;
}

.row2{
  background-color: aquamarine;
}

.row3{
  background-color: bisque;
}

.row5{
  background-color: darkkhaki;
}

.action-row {
  cursor: pointer;
}


#canvas_container {
  width: 800px;
  height: 450px;
  overflow: auto;
}


.description{

height: 80px;
color: black;
font-size: 18px;

}



















.card{
margin-bottom: 10px;

border-radius: 16px;

}
.cont{
margin-top: 50px;
}
.col-lg-3:first-child .card{
border: 1px solid #007bff;
}
.col-lg-3:nth-child(2) .card{
border: 1px solid #dc3545;
}
.col-lg-3:nth-child(3) .card{
border: 1px solid #28a745;
}
.col-lg-3:last-child .card{
border: 1px solid #6c757d;
}
.desc{
font-family: 'Teko', sans-serif;
font-size: 30px;
}
.desc2{
font-size: 15px;
height: 130px;
}
.btn{
width: 100%;
}
.democlass{
  height: 30px;
  color: red;
}


.democlass1{
  height: 30px;
  color: green;
}
.democlass2{
  height: 30px;
  color: rgb(0, 68, 255);
}
.democlass3{
  height: 30px;
  color: gray;
}



.blueclass button{
  background-color: #007bff;
  color: floralwhite;
  width: 100%;
  height: 37px;
  border: 1px solid #007bff;
  border-radius:5px ;
  

}
.blueclass:first-child :hover{
  box-shadow: 0px 10px 30px -12px #3a58f9;
}
.blueclass h5{
  color: #007bff;
  //font-weight: bold;
  font-size: 30px;
}
.blueclass p {
  height: 100px;
  color: #000;
}
.blueclass:first-child .card{
  border: 1px solid #007bff;
  }



  .blueclass .clipBlue{

    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 15px;
    clip-path: circle(10% at 0% 0%);
    transition: clip-path .7s ease-in-out;
    cursor: pointer;
  }



  .greenclass button{
    background-color:  #28a745;
    color: floralwhite;
    width: 100%;
    height: 37px;
    border: 1px solid  #28a745;;
    border-radius:5px ;
  
  
  }
  .greenclass:first-child :hover{
    box-shadow: 0px 10px 30px -12px #28a745;
  }

  .greenclass .clipBlue{

    background-color: #28a745;
    color: #fff;
    padding: 5px 10px;
    border-radius: 15px;
    clip-path: circle(10% at 0% 0%);
    transition: clip-path .7s ease-in-out;
    cursor: pointer;
  }
  .greenclass h5{
    color:  #28a745;;
    //font-weight: bold;
    font-size: 30px;
  }
  .greenclass p {
    height: 100px;
    color:  #fff;
  }
  .greenclass:first-child .card{
    border: 1px solid  #28a745;;
    }
  

    .redclass button{
      background-color:  #dc3545;;
      color: floralwhite;
      width: 100%;
      height: 37px;
      border: 1px solid  #dc3545;;
      border-radius:5px ;
    
    
    }

    .redclass .clipBlue{

      background-color: #dc3545;
      color: #fff;
      padding: 5px 10px;
      border-radius: 15px;
      clip-path: circle(10% at 0% 0%);
      transition: clip-path .7s ease-in-out;
      cursor: pointer;
    }

    .redclass:first-child :hover{
      box-shadow: 0px 10px 30px -12px #dc3545;
    }
    .redclass h5{
      color:  #dc3545;;
      //font-weight: bold;
      font-size: 30px;
    }
    .redclass p {
      height: 100px;
      color: #000;
    }
    .redclass:first-child .card{
      border: 1px solid  #dc3545;;
      }

      

      .grayclass button{
        background-color:  #6c757d;
        color: floralwhite;
        width: 100%;
        height: 37px;
        border: 1px solid  #6c757d;
        border-radius:5px ;
      
      
      }

      .grayclass:first-child :hover{
        box-shadow: 0px 10px 30px -12px #6c757d;
      }

      .grayclass h5{
        color: #6c757d;
        //font-weight: bold;
        font-size: 30px;
      }
      .grayclass p {
        height: 100px;
        color: #000;
      }


      .grayclass .clipBlue{

       background-color: #6c757d;
      //  background-color: #fff;
        color: #fff;
        padding: 5px 10px;
        border-radius: 15px;
        clip-path: circle(10% at 0% 0%);
        transition: clip-path .7s ease-in-out;
        cursor: pointer;
      }


      .grayclass:first-child .card{
        border: 1px solid  #6c757d;
        }







        .fa{
          margin-left: -25px;
          cursor: pointer;
          color: #ccc
        }
        .red{
          color: #f00;
        }
    






        /********************************************************************************************/





        .whiteContainer{
          width: 100%;
          margin: auto;
          border-radius: 15px;
          background-color: #ccc;
          color: #fff;
        }
  
        .whiteContainer:hover .clipBlue{
          clip-path: circle(200%);
        }
  
        .clipBlue{
          background-color: #007bff;
          color: #fff;
          padding: 5px 10px;
          border-radius: 15px;
          clip-path: circle(10% at 0% 0%);
          transition: clip-path .7s ease-in-out;
          cursor: pointer;
        }
    
        .span{
      float: right;
      margin-right: 24px;
      margin-top: 12px;
      font-size: 27px;
      font-weight: bold;
      }

      p{


        font-size: 15px;
        line-height: 15px;
      }
  