<ngx-spinner></ngx-spinner>




    <!--   ljadid -->

  
            
  
      <div class="von">
  
        <nav>
            <ul>
          
           
  
  
                  <li  routerLink="/lstusers">
                    <div class="home-icon">
                      <img src="https://img.icons8.com/ultraviolet/40/000000/user.png">
                    </div>
                  </li>
              
               
              
                  <li   routerLink="/allposts"  >
                    <div class="work-icon" >
                        <img src="https://img.icons8.com/color/48/000000/product-documents.png">
                    </div>
                  </li>
                  <li  (click)="onlogout()" >
                    <div class="work-icon"    >
  
  
  
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                        width="48" height="48"
                        viewBox="0 0 172 172"
                        style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g><path d="M25.08333,143.33333v-114.66667c0,-7.88333 6.45,-14.33333 14.33333,-14.33333h86c7.88333,0 14.33333,6.45 14.33333,14.33333v114.66667c0,7.88333 -6.45,14.33333 -14.33333,14.33333h-86c-7.88333,0 -14.33333,-6.45 -14.33333,-14.33333z" fill="#cccccc"></path><path d="M153.00833,86l-38.34167,32.25v-64.5z" fill="#3498db"></path><path d="M50.16667,75.25h82.41667v21.5h-82.41667z" fill="#3498db"></path></g></g></svg>
  
  
  
  
  
                      
                    </div>
                  </li>
                  
          
          
          
             
            </ul>
          </nav>
        
        
        
        
        
        
        
        
        
        
        
        
        
        
       

<div class="limiter">
    <div class="container-table100">
        <div class="wrap-table100">
                <div class="table">
  
                    <div class="row header">
                        <div class="cell" style="width: 450px;"  >
                          Document Description
                        </div>
                        <div class="cell"  style="width: 200px;" >
                          Documents Name
                        </div>
                        <div class="cell" style="width: 200px;"  >
                          Published By
                        </div>
                        <div class="cell">
                          Published
                        </div>
                        <div class="cell" style="width: 150px;"  >
                          Action
                        </div>
                    </div>
  
                    <div class="row roww " *ngFor=" let post of all"   >
                        <div class="cell" data-title="Full Name">
                          {{ post.data.description }}
                        </div>
                        <div class="cell" data-title="Age">
                          {{post.data.FileName}}
                        </div>
                        <div class="cell" data-title="Job Title">
                          {{post.data.authorName}}
                        </div>
                        <div class="cell" data-title="Location">
                          {{post.data.Creationdate}}
                        </div>
                        <div class="cell" data-title="Location">
  
                            <img src="https://img.icons8.com/material-sharp/24/000000/download.png"  style="padding-right: 10px;" 
                            (click)="gettdoc(post.data.FileName,post.data.idfile,post.data.authorName)" >
                            <img src="https://img.icons8.com/metro/26/000000/view-file.png"    (click)="view(post.data.FileName,post.data.idfile,post.data.authorName)" >
                      
  
                      </div>
                    </div>
                </div>
        </div>
    </div>
  </div>
  </div>