<div class="bod ">




<section class="section_1">

<div class="headerr">

<div class="bodd">
    <h1 class="display-3">The Easiest way to Upload and share  </h1>
    <h2 class="display-4">ALL your Files</h2>

    <button routerLink='/login'  > <span class="dispaly-3" class='bvx'>  Access To Your Files</span> </button>
</div>
</div>


</section>
<div class="jumbotron">
<div class="container   col-md-6">


<section class="section_2 ">

    <div class="storeany">
<p class="display-3 ">
        Store any file
</p>

<p>
        Keep photos, stories, designs, drawings, recordings, videos, and more.
</p>

<p>
        Your files in Drive can be reached from any smartphone, tablet, or computer. So wherever you go, your files follow.
</p>

    </div>
</section>
</div>
</div>







</div>
<div class="lwest">
<p class="display-3 ">
         Frequently Asked Questions
      </p>
<div class="faq">
<div>
                
   <p>
         <i  id="frst_q_1" class="frst_q_1 fas fa fa-plus-circle" (click)='firstq()' ></i>
        Where are files actually stored?</p>
   <div class="frst-q" *ngIf="frst_q_1" >
         When you upload a file to your Info Sat platform storing , that file is now stored in Fire base server network, which is provided by Google and  comprised of many data centers spread all over the world. 
   </div>
  </div>



<div>
 <p><i id="frst_q_2" class="frst_q_2 fas fa fa-plus-circle" (click)='secondq()' ></i> What types of files can I store?</p>
     <div class="frst-q" *ngIf="frst_q_2" >
         You can store virtually any file type in your account,including  Docs, Sheets, Images,and Slides... which means that all your files can be stored and opened within your account.
     </div>
</div>



        


  <div>
 <p><i  id="frst_q_3" class=" frst_q_3 fas fa fa-plus-circle" (click)='thirdq()' ></i>How do I manage Accessing to the files?</p>
 <div class="frst-q" *ngIf="frst_q_3" >
 You can set role-based access controls at the Uploads level. You can then restrict and permit individuals or groups to access to the files .
</div>
 </div>





 <div>
<p><i  id="frst_q_4" class=" frst_q_4 fas fa fa-plus-circle" (click)='fourthq()' ></i> May I Update files Accessing and data ?</p>
 <div class="frst-q" *ngIf="frst_q_4" >
                You can set only  your file description or Accessing in your "my posts" component .   
</div>
</div>












        
      </div>

</div>
<footer>
        <div class="container-fluid p-0">


<div class="row text-left">



    <div class="col-md-5 col-md-5">
        <h1 class="text-light">About Us</h1>
        <p class="text-muted"><span>INFOSAT </span>is a society oriented towards
                new technologies at the service of information systems, communica- and security.
                 Its main mission is to serve itscustomers and commit to its partnersfor a global and sustainable performance.</p>
        

    </div>
    <div class="col-md-4 ">
            <h1 class="text-light"> Our Location</h1>
            <p class="text-muted"> 
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3440.2622017845893!2d-9.581006984875767!3d30.428668181744154!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xdb3b667feb0ee09%3A0xbff5ea5fff69723c!2sRue+485%2C+Agadir+80000!5e0!3m2!1sen!2sma!4v1565444053025!5m2!1sen!2sma" frameborder="0" style="border:0" allowfullscreen></iframe>  </p> 
            

    </div>
    <div class="col-md-3">
        <h1 class="text-light"> Contact Info</h1>
        <p class="text-muted"> <i class="fa fa-map-marker"></i> 18, RUE 486, LES AMICALES AGADIR, MAROC    </p> 
        <p class="text-muted"> <i class="fa fa-envelope"> CONTACT@INFOSAT.MA</i></p>
        <p class="text-muted"> <i class="fa fa-mobile"></i> +212 (0) 528 232 462    </p> 
        <p class="text-muted"> <i class="fa fa-globe" (click)='opensite()' > www.infosat.ma</i></p>
        
        <div class="column text-light">

            
        </div>
    </div>
</div>

<div class="row text-left">

<p class="pt-4 text-muted"> 2019 ,  ALL RIGHTS RESERVED.Designed and developed by Oussama Ouardini
           <!-- <span>Daily tuition</span>-->
        </p>
</div>

        </div>

    </footer>
